.App {
  text-align: center;
  display: flex;
  border: 1px solid rgb(60, 129, 233);
  background-color: rgb(60, 129, 233);
  margin: 10px;
  flex-wrap: wrap;
   align-items: center;
  justify-content: center; 
  justify-content: space-evenly;
  position: relative;
}

.card{
  border:1px solid white;
  margin: 20px;
  padding: 5px;
  text-align: justify;
  background-color: white;
  border-radius: 15px;
  width: 350px;
  height: 530px;
  position: relative;
}
.card:hover{
  cursor: pointer;
  margin-top: 0.5px;
}
.heading{
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.month{
  font-size: small;
}
.text{
  text-align: center;
  font-size: 15px;
  color: rgb(121, 115, 115);
}
.button{
  border: none;
  position: relative;
  right: 7px;
  border-radius: 25px;
  background-color: rgb(60, 129, 233);
  color: white;
  width: 320px;
  height: 40px;
  
}
.button:hover{
  cursor: pointer;
  background-color: blue;
}
.card1{
  margin: 20px;
}


/* @media screen and (min-width:375) {
  .card{
    margin: 10px;
    padding: 5px;
  }
} */
 .color{
  color: rgb(184, 177, 177);
 }

 .color1{
  color:black;
 }